@use "nullstyle";
@use "fonts";
@use "index";
@use "donate";

html {
    font-family: "Roboto";
    scroll-behavior: smooth;
}

body._lock {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    @media (max-width: 1599px) {
        width: 942px;
    }
    @media (max-width: 999px) {
        width: 602px;
    }
    @media (max-width: 639px) {
        width: 302px;
    }
}

.button:hover {
    background: #e47209;
}
.button:active {
    background: #4b9200;
}

.footer__submit:active {
    border: 1px solid #4b9200;
    color: #4b9200;
}

.header {
    height: 80px;
    background: #000000;
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 5;
    @media (max-width: 1599px) {
        background: #111115;
    }
    @media (max-width: 999px) {
        height: 34px;
        position: fixed;
        z-index: 30;
        width: 100%;
    }

    &__row {
        display: flex;
        align-items: center;
        color: white;
        height: 80px;
        @media (max-width: 999px) {
            height: 34px;
            justify-content: space-between;
        }
    }
    &__logoBox {
        margin-right: 63px;
    }
    &__designed {
        margin-left: 438px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #ffffff;
        white-space: nowrap;
        @media (max-width: 1599px) {
            margin-left: 259px;
        }
        @media (max-width: 999px) {
            display: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 999px) {
        &__burger {
            width: 18px;
            height: 10px;
            cursor: pointer;
            background-image: url("../images/burger_menu.svg");
        }
    }

    .logo {
        width: 82px;
        height: 52px;
        position: relative;
        box-sizing: border-box;
        border: 1px solid #ffffff;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 999px) {
            width: 47px;
            height: 29px;
            border: none;
        }
        .logoText {
            box-sizing: border-box;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 120%;
            text-align: center;
            color: #ffffff;
            @media (max-width: 999px) {
                font-size: 12px;
            }
        }
        .logoImg {
            background-image: url("../images/bamboo.svg");
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
            position: absolute;
            width: 15.03px;
            height: 25.98px;
            left: 7px;
            top: 19px;
            @media (max-width: 999px) {
                width: 9px;
                height: 13px;
                left: 3px;
                top: 12px;
            }
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 58px;
        @media (max-width: 1599px) {
            gap: 48px;
        }
        @media (max-width: 999px) {
            display: none;
        }
        a {
            color: white;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            white-space: nowrap;
            &:hover {
                text-decoration: underline;
            }
        }
        .activ {
            color: #fe9013;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.footer {
    background: #111115;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 443px;
    @media (max-width: 999px) {
        height: 282px;
    }
    @media (max-width: 639px) {
        height: 334px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__rowFirst {
        display: flex;
        justify-content: space-between;
        margin-top: 41px;
        @media (max-width: 1599px) {
            margin-top: 38px;
            padding-right: 32px;
        }
        @media (max-width: 999px) {
            margin-top: 9px;
        }
    }

    .logo {
        width: 82px;
        height: 52px;
        position: relative;
        box-sizing: border-box;
        border: 1px solid #ffffff;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logoText {
            box-sizing: border-box;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 120%;
            text-align: center;
            color: #ffffff;
        }
        .logoImg {
            background-image: url("../images/bamboo.svg");
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
            position: absolute;
            width: 15.03px;
            height: 25.98px;
            left: 7px;
            top: 19px;
        }
    }
    @media (max-width: 639px) {
        .logo_mobile {
            width: 300px;
            height: 23px;
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            border: none;
            .logoImg_mobile {
                left: 155px;
                top: -6px;
            }
        }
    }

    &__subscribe {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #ffffff;
        @media (max-width: 999px) {
            display: none;
        }
    }

    &__emailRow {
        display: flex;
        margin-top: 14px;
        @media (max-width: 999px) {
            display: none;
        }
    }

    &__email {
        border: 1px solid #f9804b;
        border-radius: 2px;
        background: #111115;
        width: 228px;
        height: 42px;
        padding: 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #bdbdbd;
        &:invalid:not(:placeholder-shown) {
            border-color: #d31414;
            color: #d31414;
        }
        &:valid:not(:placeholder-shown) {
            border-color: #4b9200;
            & ~ .footer__submit {
                border-color: #000000;
                color: #000000;
                &:active {
                    border-color: #4b9200;
                    color: #4b9200;
                }
            }
        }
    }

    &__submit {
        margin-left: 10px;
        background: #f1f3f2;
        border: 1px solid #d31414;
        border-radius: 5px;
        width: 129px;
        height: 42px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d31414;
        &:active {
            border-color: #d31414;
            color: #d31414;
        }
    }

    &__btn {
        position: relative;
        margin-top: 35px;
        width: 298px;
        height: 54px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 5px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 639px) {
            top: 52px;
        }
    }

    &__rowLast {
        margin-top: 44px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 999px) {
            margin-top: -47px;
        }
        @media (max-width: 639px) {
            flex-direction: column;
        }
    }

    &__colMedia {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 999px) {
            gap: 20px;
            order: 1;
        }
        @media (max-width: 639px) {
            flex-direction: row;
            order: 0;
            gap: 30px;
        }
    }

    &__facebookRow,
    &__twitterRow,
    &__instagramRow,
    &__youTubeRow {
        position: relative;
        display: flex;
        gap: 12px;
        align-items: center;
        @media (max-width: 999px) {
            top: -92px;
            z-index: 10;
        }
        @media (max-width: 639px) {
            top: -12px;
            left: -52px;
        }
    }

    &__facebookIcon,
    &__twitterIcon,
    &__instagramIcon,
    &__youTubeIcon {
        background-color: rgba(196, 196, 196, 0.5);
        background-position: center;
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        &:active {
            background-color: #4b9200;
        }
        &:active ~ .footer__facebook {
            color: #4b9200;
        }
        &:active ~ .footer__twitter {
            color: #4b9200;
        }
        &:active ~ .footer__instagram {
            color: #4b9200;
        }
        &:active ~ .footer__youTube {
            color: #4b9200;
        }
    }

    &__facebookIcon {
        background-image: url("../images/fb.svg");
    }

    &__twitterIcon {
        background-image: url("../images/twit.svg");
    }

    &__instagramIcon {
        background-image: url("../images/insta.svg");
    }

    &__youTubeIcon {
        background-image: url("../images/yt.svg");
    }

    &__facebook,
    &__twitter,
    &__instagram,
    &__youTube {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #ffffff;
        @media (max-width: 999px) {
            display: none;
        }
        &:active {
            color: #4b9200;
        }
    }

    .menuUl {
        position: relative;
        margin-left: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 58px;
        @media (max-width: 1599px) {
            gap: 47px;
            margin-left: 98px;
        }
        @media (max-width: 999px) {
            gap: 37px;
            margin-left: 0px;
        }
        @media (max-width: 639px) {
            gap: 30px;
            top: 181px;
            left: -11px;
        }
        a {
            color: white;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            white-space: nowrap;
            &:hover {
                text-decoration: underline;
            }
        }
        .activ {
            color: #f9804b;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__designedBox {
        position: relative;
        margin-bottom: 10px;
        @media (max-width: 999px) {
            left: 50px;
        }
        @media (max-width: 639px) {
            left: 0px;
            top: 78px;
        }
    }

    &__designed {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        color: #ffffff;
        padding-bottom: 10px;
        @media (max-width: 639px) {
            font-size: 15px;
        }
        &:active {
            color: #4b9200;
            text-decoration: underline;
        }
    }

    &__rss {
        position: relative;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        color: #ffffff;
        @media (max-width: 999px) {
            left: 50px;
        }
        @media (max-width: 639px) {
            left: 0px;
            top: 80px;
            font-size: 15px;
        }
        &:active {
            color: #4b9200;
            text-decoration: underline;
        }
    }
}

// бургер меню ----------------------------------------------------
.burgerMenuBox {
    display: none;

    @media (max-width: 999px) {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.9);
        transition: linear all 0.3s;
        top: -100%;
        opacity: 0;
        &._active {
            top: 0;
            opacity: 1;
        }

        .openBurgerMenu {
            position: relative;
            background-color: white;
            padding: 10px;
        }

        .burgerClose {
            position: absolute;
            right: 20px;
            top: 20px;
            height: 30px;
            width: 30px;
            border: 1px solid black;
            background-color: #000000;
            background-image: url("../images/active_menu.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            cursor: pointer;
        }

        .burgerMenuLogo {
            background-image: url("../images/logoBurgerMenu.png");
            height: 47px;
            width: 72px;
        }

        .burgerMenuLinks {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            a {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #333b41;
                &:hover {
                    text-decoration: underline;
                }
            }
            a._active {
                color: orange;
            }
        }
    }
}
// ----------------------------------------------------------------
