.watch {
    height: 700px;
    background-image: url("../images/GiantPanda.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @media (max-width: 1599px) {
        height: 504px;
    }
    @media (max-width: 999px) {
        margin-top: 34px;
        height: 340px;
    }
    @media (max-width: 639px) {
        height: 187px;
    }

    &__row {
        display: flex;
        justify-content: flex-end;
    }

    &__col {
        width: 50%;
        position: relative;
    }

    &__round {
        position: absolute;
        top: 12px;
        left: 7px;
        width: 465px;
        height: 465px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 50%;
        @media (max-width: 1599px) {
            top: -11px;
            left: -45px;
            width: 367px;
            height: 367px;
        }
        @media (max-width: 999px) {
            width: 237px;
            height: 237px;
            top: 10px;
            left: 10px;
        }
        @media (max-width: 639px) {
            width: 119px;
            height: 119px;
            top: 22px;
            left: 4px;
        }
    }

    &__text {
        position: relative;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 106.496px;
        line-height: 75%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 5;
        margin-top: 86px;
        margin-left: 80px;
        .yellow {
            color: #ffee2e;
        }
        @media (max-width: 1599px) {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 85px;
            line-height: 75%;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 42px;
            margin-left: -40px;
        }
        @media (max-width: 999px) {
            font-size: 54px;
            margin-top: 49px;
            margin-left: 50px;
        }
        @media (max-width: 639px) {
            font-size: 28px;
            margin-top: 40px;
            margin-left: 23px;
        }
    }

    &__btn {
        position: relative;
        width: 298px;
        height: 54px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 25px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 60px;
        margin-left: 183px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1599px) {
            margin-top: 40px;
            margin-left: 65px;
        }
        @media (max-width: 999px) {
            margin-top: -6px;
            margin-left: -300px;
        }
        @media (max-width: 639px) {
            margin-top: 61px;
            margin-left: -149px;
            z-index: 10;
        }
    }
}

.backstage {
    height: 582px;
    position: relative;
    @media (max-width: 1599px) {
        height: 567px;
    }
    @media (max-width: 999px) {
        height: 447px;
    }
    @media (max-width: 639px) {
        height: 420px;
    }

    &__backgroundImg {
        position: absolute;
        right: -54px;
        top: -125px;
        background-image: url("../images/flower_foto1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 605px;
        width: 293px;
        z-index: 1;
        @media (max-width: 1599px) {
            display: none;
        }
        @media (max-width: 999px) {
            display: block;
            height: 476px;
            width: 231px;
            top: -58px;
            right: -70px;
        }
        @media (max-width: 639px) {
            display: block;
            height: 217px;
            width: 105px;
            top: -65px;
            right: -56px;
        }
    }

    &__row {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 140px;
        @media (max-width: 1599px) {
            margin-top: 100px;
            align-items: flex-start;
        }
        @media (max-width: 999px) {
            margin-top: 60px;
            justify-content: start;
        }
        @media (max-width: 639px) {
            margin-top: 104px;
        }
    }

    &__img {
        height: 403px;
        width: 609px;
        background-image: url("../images/bamboo-cap.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 87px;
        @media (max-width: 1599px) {
            height: 408px;
            width: 465px;
            margin-right: 31px;
            margin-top: 9px;
        }
        @media (max-width: 999px) {
            display: none;
        }
    }

    &__col {
        width: 465px;
        position: relative;
        z-index: 5;
        @media (max-width: 999px) {
            width: 492px;
        }
    }

    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        color: #333b41;
        @media (max-width: 999px) {
            margin-left: 3px;
        }
        @media (max-width: 639px) {
            font-size: 24px;
        }
        @media (max-width: 639px) {
            margin-left: 1px;
        }
    }

    &__text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #333b41;
        margin-top: 20px;
        @media (max-width: 639px) {
            margin-top: 10px;
            margin-left: 2px;
        }
    }

    &__subTitle {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333b41;
        margin-top: 54px;
        @media (max-width: 999px) {
            margin-top: 30px;
            margin-left: 3px;
        }
        @media (max-width: 639px) {
            margin-top: 20px;
        }
    }

    &__text2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #333b41;
        margin-top: 34px;
        @media (max-width: 1599px) {
            line-height: 140%;
            padding-right: 5px;
        }
        @media (max-width: 999px) {
            margin-top: 19px;
        }
        @media (max-width: 639px) {
            line-height: 137%;
            margin-top: 10px;
            margin-left: 1px;
        }
    }
}

.favorite {
    height: 1110px;
    position: relative;
    @media (max-width: 1599px) {
        height: 1075px;
    }
    @media (max-width: 999px) {
        height: 970px;
    }
    @media (max-width: 639px) {
        height: 1531px;
    }

    &__backgroundImgL {
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-image: url("../images/palm_foto.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 460px;
        width: 292px;
        z-index: 1;
        @media (max-width: 1599px) {
            height: 202px;
            width: 128px;
        }
        @media (max-width: 639px) {
            height: 72px;
            width: 45px;
        }
    }

    &__backgroundImgR {
        position: absolute;
        right: -8px;
        bottom: 0px;
        background-image: url("../images/strelitzia1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 265px;
        width: 368px;
        z-index: 1;
        @media (max-width: 1599px) {
            height: 180px;
            width: 241px;
        }
        @media (max-width: 999px) {
            width: 175px;
            height: 131px;
            right: -5px;
        }
        @media (max-width: 639px) {
            height: 65px;
            width: 100px;
            right: -25px;
        }
    }

    &__btnL {
        position: absolute;
        z-index: 20;
        width: 62px;
        height: 62px;
        left: -82px;
        top: 406px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        user-select: none;
        font-size: 18px;
        cursor: pointer;
        @media (max-width: 1599px) {
            left: 322px;
            top: 376px;
        }
        @media (max-width: 999px) {
            left: 222px;
            top: 355px;
        }
        @media (max-width: 639px) {
            display: none;
        }
        &:hover {
            background: #e47209;
        }
        &:active {
            background: #4b9200;
        }
    }

    &__btnR {
        position: absolute;
        width: 62px;
        height: 62px;
        right: -82px;
        top: 406px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        user-select: none;
        font-size: 18px;
        padding-bottom: 5px;
        cursor: pointer;
        @media (max-width: 1599px) {
            right: 321px;
            top: 376px;
        }
        @media (max-width: 999px) {
            left: 315px;
            top: 355px;
        }
        @media (max-width: 639px) {
            display: none;
        }
        &:hover {
            background: #e47209;
        }
        &:active {
            background: #4b9200;
        }
    }

    &__rowBtn {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        @media (max-width: 999px) {
            margin-top: 59px;
        }
        @media (max-width: 639px) {
            margin-top: 17px;
        }
    }

    &__btn {
        width: 298px;
        height: 54px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 25px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slider {
        position: relative;
    }
    &__sliderOwerflow {
        overflow: hidden;
        padding: 5px;
    }

    &__sliderRow {
        width: 4590px;
        margin-left: -1530px;
        display: flex;
        justify-content: flex-start;
        @media (max-width: 639px) {
            height: 1388px;
        }
    }

    &__boxList {
        font-size: 99px;
        align-items: center;
        justify-content: center;
        width: 1530px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        transition: all linear 0.3s;
        &._center {
            transform: translate(1530px);
        }
        &._left {
            transform: translate(0px);
        }
        &._right {
            transform: translate(2680px);
        }
        @media (max-width: 1599px) {
            width: 1250px;
            height: 800px;
            align-items:center;
            justify-content: space-between;
            row-gap: 90px;
        }
        @media (max-width: 999px) {
            gap: 0px;
            width: 1190px;
            height: 756px;
            align-items:center;
            justify-content: space-between;
            row-gap: 90px;
        }
        @media (max-width: 639px) {
            flex-direction: column;
            width: 287px;
            height: 2800px;
            align-items:center;
            justify-content: flex-start;
            row-gap: 0px;
            gap: 20px;
        }
    }

    &__box {
        border: 2px solid orange;
        box-sizing: border-box;
        width: 365px;
        height: 420px;
        border-radius: 5px;
        @media (max-width: 1599px) {
            width: 290px;
            height: 354px;
        }
        @media (max-width: 999px) {
            width: 285px;
            height: 332px;
            border: 1px solid orange;
        }
        &:hover {
            .favorite__boxImg {
                transform: scale(1.071);
                transition: linear all 0.3s;
            }
            .favorite__boxRow {
                transform: translateY(-60px);
                background-color: #00000084;
                padding: 10px;
                border-radius: 10px;
                transition: linear all 0.3s;
                p {
                    color: white;
                }
            }
        }
    }

    &__boxRow {
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;
        @media (max-width: 999px) {
            font-size: 13px;
        }
    }

    &__home {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #000000;
        @media (max-width: 999px) {
            font-size: 12px;
        }
    }

    &__boxImg {
        width: 100%;
        height: 85%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
    }

    &__boxRowLogo {
        width: 48px;
        height: 38px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: 999px) {
            width: 37px;
            height: 29px;
        }
    }
    .aniImg0 {
        background-image: url("../images/img0.png");
    }
    .aniLogo0 {
        background-image: url("../images/banana-bamboo_icon.png");
    }
    .aniImg1 {
        background-image: url("../images/img1.png");
    }
    .aniLogo1 {
        background-image: url("../images/meet-fish_icon.png");
    }
    .aniImg2 {
        background-image: url("../images/img2.png");
    }
    .aniLogo2 {
        background-image: url("../images/banana-bamboo_icon.png");
    }
    .aniImg3 {
        background-image: url("../images/img3.png");
    }
    .aniLogo3 {
        background-image: url("../images/banana-bamboo_icon.png");
    }
    .aniImg4 {
        background-image: url("../images/img4.png");
    }
    .aniLogo4 {
        background-image: url("../images/meet-fish_icon.png");
    }
    .aniImg5 {
        background-image: url("../images/img5.png");
    }
    .aniLogo5 {
        background-image: url("../images/meet-fish_icon.png");
    }
    .aniImg6 {
        background-image: url("../images/img6.png");
    }
    .aniLogo6 {
        background-image: url("../images/meet-fish_icon.png");
    }
    .aniImg7 {
        background-image: url("../images/img7.png");
    }
    .aniLogo7 {
        background-image: url("../images/banana-bamboo_icon.png");
    }
}

.pickFriend {
    padding-top: 69px;
    height: 1004px;
    position: relative;
    background: linear-gradient(
            315.75deg,
            rgba(254, 210, 144, 0.7) 30.06%,
            #febdab 100.95%,
            rgba(254, 210, 144, 0.7) 106.36%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        );
    opacity: 0.9;
    @media (max-width: 1599px) {
        height: 875px;
        padding-top: 30px;
    }
    @media (max-width: 999px) {
        height: 781px;
        padding-top: 20px;
    }
    @media (max-width: 639px) {
        height: 1082px;
    }

    &__col {
        position: relative;
        width: 100%;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        padding-top: 41px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 1599px) {
            padding-top: 30px;
        }
        @media (max-width: 999px) {
            padding-top: 10px;
            width: 632px;
            left: -17px;
        }
        @media (max-width: 639px) {
            padding-top: 20px;
            width: 300px;
            left: 0px;
        }
    }

    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: #fe9013;
        @media (max-width: 999px) {
            font-size: 42px;
        }
        @media (max-width: 639px) {
            font-size: 24px;
        }
    }

    &__weKnow {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333b41;
        margin-left: 99px;
        margin-top: 30px;
        @media (max-width: 1599px) {
            margin-left: 49px;
            margin-top: 20px;
        }
        @media (max-width: 999px) {
            margin-left: 16px;
            margin-top: 18px;
            font-size: 22px;
        }
        @media (max-width: 639px) {
            font-size: 18px;
            text-align: center;
            margin-left: -1px;
            margin-top: 10px;
        }
    }

    &__COVID {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #333b41;
        margin-left: 99px;
        margin-top: 40px;
        @media (max-width: 1599px) {
            margin-left: 49px;
            margin-top: 20px;
            padding-right: 78px;
        }
        @media (max-width: 999px) {
            margin-left: 16px;
            margin-top: 18px;
            font-size: 16px;
            padding-right: 20px;
        }
        @media (max-width: 639px) {
            display: none;
        }
    }

    &__text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #333b41;
        margin-left: 99px;
        margin-top: 10px;
        padding-right: 190px;

        @media (max-width: 1599px) {
            margin-left: 49px;
            padding-right: 60px;
        }
        @media (max-width: 999px) {
            margin-left: 16px;
            margin-top: 12px;
            font-size: 16px;
            padding-right: 20px;
        }
        @media (max-width: 639px) {
            display: none;
        }
        a {
            position: relative;
            color: #333b41;
            .underline {
                position: absolute;
                width: 178px;
                height: 1px;
                left: 1px;
                background: #fe9013;
            }
        }
    }

    &__howItWorks {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #333b41;
        text-align: center;
        margin-top: 60px;
        @media (max-width: 1599px) {
            margin-top: 40px;
        }
        @media (max-width: 999px) {
            margin-top: 30px;
        }
        @media (max-width: 639px) {
            margin-top: 20px;
            font-size: 24px;
        }
    }

    &__boxRow {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        @media (max-width: 999px) {
            left: -5px;
            margin-top: 20px;
            gap: 40px;
        }
        @media (max-width: 639px) {
            left: 0px;
            align-items: center;
            flex-direction: column;
            gap: 36px;
        }
    }

    &__box {
        width: 168px;
    }

    &__boxText {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333b41;
        margin-top: 30px;
        @media (max-width: 639px) {
            margin-top: 10px;
        }
    }

    &__arrow {
        background-image: url("../images/VectorArrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 69px;
        height: 35.08px;
        margin-left: 30px;
        margin-right: 31px;
        margin-top: 63px;
        @media (max-width: 999px) {
            position: absolute;
            background-image: url("../images/arrowSmall.svg");
            width: 100px;
            height: 30px;
            &_left {
                left: 123px;
                top: -80px;
            }
            &_right {
                left: 330px;
                top: -80px;
            }
        }
        @media (max-width: 639px) {
            transform: rotate(90deg);
            &_left {
                left: 170px;
                top: 125px;
            }
            &_right {
                left: 170px;
                top: 375px;
            }
        }
    }

    &__boxImg0 {
        background-color: white;
        background-image: url("../images/rec0.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 168px;
        height: 168px;
        border: 1px solid orange;
        border-radius: 5px;
    }

    &__boxImg1 {
        background-color: white;
        background-image: url("../images/rec1.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 168px;
        height: 168px;
        border: 1px solid orange;
        border-radius: 5px;
    }

    &__boxImg2 {
        background-color: white;
        background-image: url("../images/rec2.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 168px;
        height: 168px;
        border: 1px solid orange;
        border-radius: 5px;
    }

    &__rowBtn {
        display: flex;
        justify-content: center;
    }

    &__btn {
        width: 298px;
        height: 54px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 25px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 59px;
        @media (max-width: 1599px) {
            margin-top: 71px;
            margin-bottom: 50px;
        }
        @media (max-width: 999px) {
            margin-top: 41px;
            margin-bottom: 60px;
        }
        @media (max-width: 639px) {
            margin-top: 35px;
            margin-bottom: 40px;
        }
    }
}

.testimonials {
    position: relative;
    padding-bottom: 180px;
    @media (max-width: 1599px) {
        padding-bottom: 144px;
    }
    @media (max-width: 999px) {
        padding-bottom: 80px;
    }
    @media (max-width: 639px) {
        padding-bottom: 60px;
    }

    &__backgroundImg {
        position: absolute;
        right: -7px;
        bottom: -132px;
        background-image: url("../images/leav_foto.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 408px;
        width: 247px;
        z-index: 1;
        @media (max-width: 1599px) {
            height: 330px;
            width: 200px;
            bottom: -90px;
        }
        @media (max-width: 999px) {
            height: 200px;
            width: 140px;
            bottom: -68px;
            right: -19px;
        }
        @media (max-width: 639px) {
            height: 105px;
            width: 85px;
            bottom: -40px;
            right: -10px;
        }
    }

    &__col {
        margin-top: 140px;
        @media (max-width: 1599px) {
            margin-top: 100px;
            overflow: hidden;
        }
        @media (max-width: 999px) {
            margin-top: 60px;
        }
        @media (max-width: 639px) {
            margin-top: 29px;
        }
    }

    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        color: #333b41;
        @media (max-width: 639px) {
            font-size: 24px;
        }
    }

    &__overflowBox {
        margin-top: 45px;
        overflow: hidden;
        padding: 2px;
        @media (max-width: 1599px) {
            margin-top: 28px;
        }
        @media (max-width: 639px) {
            margin-top: 18px;
        }
    }

    &__row {
        transition: all linear 0.5s;
        padding: 4px;
        width: 5000px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        @media (max-width: 999px) {
            flex-direction: column;
            width: 100%;
            gap: 18px;
            height: 350px;
            padding-top: 3px;
        }
        @media (max-width: 639px) {
            height: 365px;
            margin-top: 15px;
            gap: 25px;
        }
    }

    &__box {
        position: relative;
        background: #f1f3f2;
        width: 265px;
        height: 387px;
        border-radius: 20px;
        @media (max-width: 1599px) {
            width: 290px;
        }
        @media (max-width: 999px) {
            width: 99%;
            height: 115px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            background: linear-gradient(
                to left top,
                rgba(254, 189, 171, 0.74) 6.48%,
                rgba(243, 169, 248, 0.66) 22.51%,
                #e0d8f0 45.57%,
                #eaf7fe 82.33%,
                #eaf7fe 99.1%
            );
            border-image-slice: 1;
            z-index: -1;
            border-radius: 20px;
        }
    }

    &__userRow {
        margin-left: 16px;
        margin-top: 15px;
        display: flex;
    }

    &__userIcon0 {
        width: 37px;
        height: 37px;
        background-image: url("../images/user_icon0.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    &__userIcon1 {
        width: 37px;
        height: 37px;
        background-image: url("../images/user_icon1.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    &__userIcon2 {
        width: 37px;
        height: 37px;
        background-image: url("../images/user_icon2.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    &__userIcon3 {
        width: 37px;
        height: 37px;
        background-image: url("../images/user_icon3.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    &__userCol {
        margin-left: 10px;
    }

    &__userName {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #000000;
    }

    &__userLocal {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #bdbdbd;
    }

    &__comment {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #767474;
        margin-left: 16px;
        margin-right: 15px;
        margin-top: 10px;
        overflow: hidden;
        height: 308px;
        @media (max-width: 999px) {
            height: 38px;
            overflow: hidden;
        }
    }

    &__lineRow {
        display: flex;
        justify-content: center;
        @media (max-width: 999px) {
            display: none;
        }
    }

    &__line[type="range"] {
        -webkit-appearance: none;
        width: 599px;
        height: 8px;
        border-radius: 20px;
        background-color: white;
        position: relative;
        margin-top: 19px;
        display: flex;
        align-items: center;
        @media (max-width: 1599px) {
            width: 390px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            bottom: -1px;
            right: -1px;
            background: linear-gradient(
                to left top,
                rgba(254, 189, 171, 0.74) 6.48%,
                rgba(243, 169, 248, 0.66) 22.51%,
                #e0d8f0 45.57%,
                #eaf7fe 82.33%,
                #eaf7fe 99.1%
            );
            border-image-slice: 1;
            z-index: -1;
            border-radius: 20px;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 115.19px;
            height: 6px;
            background: #fe9013;
            border-radius: 5px;
            @media (max-width: 1599px) {
                width: 75px;
            }
        }
    }

    &__btn {
        margin-top: 33px;
        width: 298px;
        height: 54px;
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border-radius: 5px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1599px) {
            margin-top: 52px;
        }
        @media (max-width: 999px) {
            width: 240px;
            margin-top: 45px;
            margin-left: 180px;
        }
        @media (max-width: 639px) {
            width: 240px;
            margin-top: 24px;
            margin-left: 30px;
        }
    }
}

// popup ---------------------------------------------------------------------------
.popupBox {
    display: none;

    @media (max-width: 999px) {
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.9);
        transition: linear all 0.3s;
        display: none;
        &._active {
            display: flex;
        }

        .cardBox {
            position: relative;
            width: 320px;
            height: 428px;
            background-color: #f5f7f6;
            .cross {
                position: absolute;
                left: 92.5%;
                right: 3.12%;
                top: 2.8%;
                bottom: 93.93%;
                background-image: url("../images/x_icon_orange.svg");
                cursor: pointer;
            }
            .cardBord {
                box-sizing: border-box;
                position: absolute;
                width: 267px;
                height: 391px;
                left: calc(50% - 267px / 2 - 9.5px);
                top: 20px;
                background: linear-gradient(
                    to left top,
                    rgba(254, 189, 171, 0.74) 6.48%,
                    rgba(243, 169, 248, 0.66) 22.51%,
                    #c9bbe6 45.57%,
                    #f2adfb 82.33%,
                    #e3c5fe 99.1%
                );
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                &__box {
                    position: relative;
                    background: #f1f3f2;
                    width: 263px;
                    height: 387px;
                    border-radius: 20px;
                }

                &__userRow {
                    margin-left: 16px;
                    margin-top: 15px;
                    display: flex;
                }

                &__userIcon {
                    width: 37px;
                    height: 37px;
                    background-image: url("../images/user_icon0.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &__userCol {
                    margin-left: 10px;
                }

                &__userName {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    color: #000000;
                }

                &__userLocal {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 120%;
                    color: #bdbdbd;
                }

                &__comment {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 120%;
                    color: #767474;
                    margin-left: 16px;
                    margin-right: 15px;
                    margin-top: 10px;
                    overflow: hidden;
                    height: 308px;
                }
            }
        }
    }
}
// ---------------------------------------------------------------------------------
